.petDetails {
    .petInfoDesktopWidth {
        width: 45%;
    }

    .petInfoMobileWidth {
        width: 100%;
    }

    .petImagesDesktopWidth {
        width: 45%
    }
    
    .petImagesMobileWidth {
        width: 100%
    }

    .bottomSpacing {
        padding-bottom: 10px;
    }

    .icon {
        height: 15px;
    }

    .columnWidth {
        width: 200px
    }

    .tableItem {
        border: 1px solid #483174;
    }
}