.logo {
  height: 6em;
  padding: 1em;
}

.logoDesktop {
  display: flex;
  justify-content: start;
}

.logoMobile {
  display: flex;
  justify-content: center;
}

.mainContainer {
  width: min(80%, 1500px);
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  p {
    margin: 0;
  }

  h2 {
    margin: 0;
    color: #483174
  }
}

.contentBox {
  row-gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.hidden {
  display: none !important;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexWrap {
  flex-wrap: wrap;
}

.flexWrapReverse {
  flex-wrap: wrap-reverse;
}

.rowGap {
  row-gap: 30px;
}

.columnGap {
  column-gap: 30px;
}

.alignCenter {
  align-items: center;
}

.alignStart {
  align-items: start;
}

.alignEnd {
  align-items: end;
}

.justifyAround {
  justify-content: space-around;
}

.justifyCenter {
  justify-content: center;
}

.justifyStart {
  justify-content: start;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyEnd {
  justify-content: end;
}

.justifySelf {
  display: flex;
  justify-content: center;
}

.alignSelf {
  display: flex;
  align-self: center;
}