.navBarBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #CB6CE6;
}

.navBarBoxMobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #CB6CE6;
    position: relative;
}

.dropDownMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: #CB6CE6;
    z-index: 100;
}

.burgerIcon {
    width: 4em;
    height: 3em;
    cursor: pointer;
}