.volunteer {
    .whyYouShould {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .whyYouShouldDesktopWidth {
        width: 45%;
    }

    .whyYouShouldMobileWidth {
        width: 100%;
    }

    .seperator {
        border-left:1px solid #e2e2e2;
    }

    .volunteerFormWidthDesktop {
        width: 45%;
    }

    input[type='checkbox'] {
        width: 36px;
        height: 36px;
        margin: 5px 5px 5px 0;
    }
}