.foster {  
    .fosterHeros {
        p {
            margin: 3%;
        }

        h2 {
            color: white;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 5%;
            margin-bottom: 0%;
        }

        .imageDesktopWidth {
            width: 25%;
            height: 40%;
        }

        .imageMobileWidth {
            width: 100%
        }

        .pinkBackgroundDesktopWidth {
            width: 60%;
        }

        .pinkBackgroundMobileWidth {
            width: 100%;
        }
    }
}