.routeBtn{
    color: white;
    text-shadow: none;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    padding: .3em 1em;
    line-height: 1.7em !important;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #483174;
}

.buttonContainer {
    transition: .2s;
}

.buttonContainer:hover {
    opacity: 75%;
}