.home {
    .imageDesktopWidth {
        width: 30%;
    }

    .imageMobileWidth {
        width: 100%;
    }

    .infoDesktopWidth {
        width: 60%;
    }

    .infoMobileWidth {
        width: 100%;
    }
}