:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.logoMobile {
  display: flex;
  justify-content: center;
}

.mainContainer {
  width: min(80%, 1500px);
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  p {
    margin: 0;
  }

  h2 {
    margin: 0;
    color: #483174
  }
}

.textSize {
  font-size: max(1.5vw, 16px);
}

@media screen and (min-width: 1500px) {
  .textSize {
     font-size: 25px;
  }
}

.contentBox {
  row-gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.pinkBackground {
  background-color: #CB6CE6;
  border-radius: 3px;
  padding: 10px;
  color: white;
}

.shortInputContainer {
  width: 45%;
}

.longInputContainer {
  width: 100%;
}

.required {
  color: red;
}

.bottomOfScreen {
  margin-top: auto;
}

.hidden {
  display: none !important;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexWrap {
  flex-wrap: wrap;
}

.flexWrapReverse {
  flex-wrap: wrap-reverse;
}

.rowGap {
  row-gap: 30px;
}

.columnGap {
  column-gap: 30px;
}

.alignCenter {
  align-items: center;
}

.alignStart {
  align-items: start;
}

.alignEnd {
  align-items: end;
}

.justifyAround {
  justify-content: space-around;
}

.justifyCenter {
  justify-content: center;
}

.justifyStart {
  justify-content: start;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyEnd {
  justify-content: end;
}

.centerJustifySelf {
  display: flex;
  justify-content: center;
}

.centerAlignSelf {
  display: flex;
  align-self: center;
}

.footer {
  margin-top: 5vh;
}