.notFound {
    .image {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .imageDesktopWidth {
        width: 30%;
    }

    .imageMobileWidth {
        width: 100%;
    }

    .infoDesktopWidth {
        width: 60%;
    }

    .infoMobileWidth {
        width: 100%;
    }
}